
.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}
.cursed-cat-gif{
	width: 60px;
  	height: auto;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
	height: 1.5rem;
    width: 1.5rem;
}
.icon:first-child:last-child {
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px);
}

.is-flex-space-between{
	display: flex;
	justify-content:space-between;
	gap: 10px;
}
.github-image{
	border-radius: 30%;
}
.site{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	justify-content: space-between;
	
}
.flex-container-map{
	display: flex;
	flex-flow: row wrap-reverse;
	flex-direction: row;
	justify-content:flex-start;
	gap: 25%;
	align-content: flex-start;
}
.at-center-top{
	display: flex;
	justify-content: center;
	
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 12px;
	align-content: flex-start;
  }
  .flex-item {
	width: 20%;
	height: 35%;
}
.small-text{
	font-size: 0.7rem;
}
.at-end{
	display: flex;
	justify-content: end;
}
.photo{
	
	height: auto;
    max-width: 40%;
}
footer{
	height: 10px;
 }
